.cart-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-qty-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-btn {
  background: black;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.cart-btn:hover {
  opacity: 0.8;
}

.remove-btn {
  background: red;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  text-align: right;
  font-weight: bold;
}

.btn-container{
  display: flex;
  justify-content: space-between;
}

.clear-cart-btn {
 
  margin-top: 10px;
  background: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.checkout-btn {
 
  margin-top: 10px;
  background: #018e01;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
