.login-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 350px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-card h2 {
  text-align: center;
}

.login-card input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.login-btn {
  background: #3498db;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.login-btn:hover {
  background: #2980b9;
}

.error-text {
  color: red;
  font-size: 14px;
  text-align: center;
}
